body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    background-image:image();
}

header {
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    padding: 1em;
}
a{
    text-decoration: none;
    color: #fff
}

section {
    margin: 20px;
}

#gameSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px;
    cursor: pointer;
}

#gameSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectedGame {
    margin-top: 20px;
}


.color-box {
    width: 70%; 
    padding: 40px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    
}


#juego_1Box {
    background-color: #3498db; 
    color: #fff;
    transition: all 0.5s ease-in-out;
}
#juego_1Box:hover{
    transition: all 0.5s ease-in-out;
    background-color: #06629f;
}
#KidBox{
    background-color: #5e34db; 
    color: #fff;
    transition: all 0.5s ease-in-out;
}
#KidBox:hover{
    background-color: #260687; 
    color: #fff;
    transition: all 0.5s ease-in-out;
}
#teenBox {
    background-color: #e74c3c; 
    color: #fff;
    transition: all 0.5s ease-in-out;
}
#teenBox:hover{
    transition: all 0.5s ease-in-out;
    background-color: #cb1906 ;
}

#adultBox {
    background-color: #2ecc71; 
    color: #fff;
    transition: all 0.5s ease-in-out;
}
#adultBox:hover{
    transition: all 0.5s ease-in-out;
    background-color: #057333;
}
